.raleway-font{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* font colors */
.primary{
  color: #4E47FF;
  font-size: 34px;
}
.font1{
  color: rgba(37, 36, 50, 1);
}
.font2{
  color: rgba(37, 36, 50, 0.5)
}
.primary-button{
  font-size: 16px;
  padding: 12px;
  border-radius: 10px;
  color: white;
  background-color: #4E47FF;
  font-weight: bold;
  border: none;
}
.title{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 150px 158px 150px;

}
.intro{
  color: #252432;
  font-weight: bold;
  font-size: 65px;
  text-align: center;
  max-width: 1440px;
  max-height: 698px;
}
.header{
  background-image: url(../Assets/Hero-bg.png);
}
.stay-btn{
    margin: 37px 632.px 152px;
  }
  .text-type1{
    font-size: 42;
  }
  .details{
    display: flex;
    align-items: center;
  }
  .banner{
    text-align: center;
    padding: 0px 267.5px 152px 267.5px;
  }

}
.title2{
  font-size: 42px;
  gap: 23px;

}
.action-tab{
display: flex;
align-items: center;
justify-content: space-between;
width: 1140px;
height: 328;
margin: 116px 160px 140px 116px;

}
.engaged{
  width: 1140px;
  height: 306px;
  background-color: #4d47ff44;
  margin: 116px 141px 134px 159px;;
  padding: 50px 142px;
  text-align: center;
  border-radius: 24px;

}
.engaged-title{
  text-align: center;
  font-size: 38px;
  font-weight: bold;
}
.engaged-amount{
  font-size: 80px;
  font-weight: bold;
  color: #4E47FF;
}
.engaged-description{
  font-size: 20px;
  color: #252432;
  gap: 0;
}
.engaged-items{
display: flex;
justify-content: space-around;
width: 1140px;
height: 306;
gap: 0;
margin: 0;
}
.engaged-item p{
  margin: 0px;
  gap: 0px;
}

 .feedback-container{
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
 }
 
 .feedback-section {
  background-color: rgba(255, 255, 255, 0.5); 
  padding: 60px 0;
}

.section-title {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
}

.feedback-cards {
  display: flex;
  gap: 40px;
}

.feedback-card {
  background-color: none;
  padding: 68px 24px 94px 24;
  border-radius: 14px;
  text-align: left;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.reviewer {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.focus-container{
   text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
} 
.focus-title{
  font-size: 50px;
  font-weight: bold; 
  color: #252432;
  max-resolution: 71px 312px;
}
.focus-description{
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
  margin: 20px 326px;

}
.focus-btn{
  margin-bottom: 20px;
}
.touch-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.get-in-touch-section{
  width: 1140;
  height: 632px;
  margin: 92px 150px 0px 150px;
  padding: 20px;
}
.section-title{
  font-size: 97px;
  font-weight: bold;
}